# macOS
.DS_Store

# Xcode / iOS
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local
**/Pods/
/vendor/bundle/

# Android / IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
.kotlin/

# Node / JS
node_modules/
npm-debug.log
yarn-error.log
*.jsbundle

# Env & secrets
.env
.env.*
*.jks
*.keystore
google-services.json
android/app/release/*
android/app/debug.keystore

# Yarn (Berry)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Metro temp
.metro-health-check*

# Tests
/coverage

# Android outputs
*.apk
*.aab
